<h1>Actions</h1>
<div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
  <div class="column">
    Column
  </div>
  <div class="column">
    Column
  </div>
  <div class="column">
    Column
  </div>
  <div class="column">
    Column
  </div>
  <div class="column">
    Column
  </div>
  <div class="column">
    Column
  </div>
</div>
is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd
<app-card></app-card>
<app-card></app-card>
<app-card></app-card>
<app-card></app-card>
<app-card></app-card>